
<div class="contactUs">
    <div class="headerImage">
    
    </div>
</div>


<div id="content">
    
    <div class="leftColumn">
    
        <h1>
            Contact Us
        </h1>
        
        <div style="float: left; width: 170px;">
            <p>
            <strong>Castlerock</strong> <br />
            Level 4, 627 Chapel St<br />
            South Yarra VIC 3141
            </p>
        </div>
        
        <div style="float: left; width: 260px;">
            <p>
            <strong>Telephone:</strong> (03) 9827 4600<br />
            <strong>Facsimile:</strong> (03) 9827 4655<br />
            <strong>Email:</strong> <a href="mailto:reception@castlerockproperty.com.au">reception@castlerockproperty.com.au</a><br />
            www.castlerockproperty.com.au<br />
            </p>
            <p>
            Castlerock Property Pty Ltd <br />
            ACN 075 504 399
            </p>
        </div>
    </div>

    <div class="rightColumn">
        <p class="important">
            We welcome enquiries about our property funds. Please contact the Castlerock team on <strong>(03) 9827 4600</strong> for more information
        </p>
    </div>        

    
</div>
