@model Auslink.Web.New.Areas.Admin.Models.Membership.PasswordViewModel





        @if (Model.MemberId != 0)
        {
            <div class="change-password">
                <h2>Change Password</h2>

                @using (Html.BeginRouteForm(AdminRoutes.Membership.ChangePassword, new { memberId = Model.MemberId }, FormMethod.Post, new { }))
                {
                <fieldset>
                    <ol>
                        <li>
                            @Html.LabelFor(o => o.Password)
                            @Html.TextBoxFor(o => o.Password, new { placeholder = "Password*" })
                            @Html.ValidationMessageFor(o => o.Password)
                        </li>

                        <li>
                            <button type="submit" class="btn primary">Save</button>
                        </li>
                    </ol>
                </fieldset>
                }
            </div>
        }
