@{
    ViewBag.Title = "Investors - Current Unitholders";
    ViewBag.PageId = "members-investors-current-unitholders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Investors";
}

@section LeftNavigation{

    <ul>
        <li>
            @Html.RouteLink("Prospective Investors", "Investors")
        </li>
        <li class="selected">
            @Html.RouteLink("Current Unitholders", "Investors-Current-Unitholders")
        </li>
    </ul>
}


<div id="current-unit-holders">

    <h2>Current Unitholders</h2>    <p>    Welcome to the Auslink Property Trust Unitholders section.      </p>    <h3>Distributions</h3>        <p class="small-margin-bottom">        The forecast distribution and tax deferral component for the 2012 financial year is shown below:    </p>    <ul class="table two-column">        <li>            <p>Amount:</p>            <p>9.0 cents per unit</p>        </li>        <li>            <p>Tax Deferred:</p>            <p>100% </p>        </li>    </ul>        <p class="small-margin-bottom">        Details of the next distribution to be paid is shown below:     </p>        <ul class="table two-column">        <li>            <p>Amount:</p>            <p>2.25 cents per unit</p>        </li>        <li>            <p>Period:</p>            <p>Quarter ending 30 June 2012</p>        </li>        <li>            <p>Payment Date:</p>            <p>30 July 2012</p>        </li>    </ul>    <h3>Annual General Meeting</h3>    <p>        2011 AGM Presentation <a href="/Content/Pdfs/Auslink-Property-Trust-AGM-October-Amended.pdf">(download pdf)</a>
    </p>    <h3>Quarterly updates</h3>    <p>        March 2012 <a href="http://castlerockproperty.blob.core.windows.net/castlerock/pdfs/Quarterly-Update-March-2012.pdf">(download pdf)</a> <br/>        December 2011  <a href="http://castlerockproperty.blob.core.windows.net/castlerock/pdfs/Quarterly-Update-December-2011.pdf">(download pdf)</a>    </p>    <h3>Financial Reports </h3>    <p>        2009 Financial Year <a href="http://castlerockproperty.blob.core.windows.net/castlerock/pdfs/Final-Signed-2009-Accounts.pdf">(download pdf)</a><br />        2010 Financial Year <a href="http://castlerockproperty.blob.core.windows.net/castlerock/pdfs/Final-Signed-2010-Accounts.pdf">(download pdf)</a><br />        2011 Financial Year <a href="http://castlerockproperty.blob.core.windows.net/castlerock/pdfs/Final-Signed-2011-Accounts.pdf">(download pdf)</a>    </p>        <h3>Tax Statements</h3>    <p>        Tax Statements for the 2011 financial year were mailed to unitholders in mid September 2011.    </p>    <p>        If you need additional information, please contact Jason Bronts         via email at <a href="mailto:j.bronts@auslinkproperty.com.au">j.bronts@auslinkproperty.com.au</a> or by telephone on (03) 9827 4600.    </p></div>