html { background-color: #eeeeee; }
body { background-color: #eeeeee; font-size: 12px; font-family: Verdana, Helvetica, Sans-Serif; margin: 0; padding: 0; color: #000000; }


a:link { color: #034af3; text-decoration: underline; }
a:visited { color: #034af3; }
a:hover { color: #1d60ff; text-decoration: none; }
a:active { color: #12eb87; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; color: #000000; font-family: Arial, Helvetica, sans-serif; }

h1 { font-size: 20px; padding-bottom: 0; margin-bottom: 0; font-weight: bold; }
h2 { font-size: 18px; font-weight: bold; color: #000000; }
h3 { font-weight: bold; margin: 0px 0px 5px 0px; }

.hidden { display: none; }
.float-container { width: 100%; overflow: hidden; }

.page { width: 1000px; margin-left: auto; margin-right: auto; }
.header { width: 100%; overflow: hidden; margin-bottom: 20px; }
.header img { float: left; display: block; margin: 5px 0px 0px 0px; }
.header h1 { float: left;  margin: 15px 0px 0px 10px; float: left;  }
/*
.quickflix .header h1 { background: url(http://www.quickflix.com.au/Cms/Images/Header/New/logo_normal.png) no-repeat; padding: 30px 0px 0px 210px; margin: -30px 0px 0px 0px; min-height: 65px;  }
.bigw .header h1 { background: url(http://bigw.quickflix.com.au/Cms/Images/Header/New/logo_normal.png) no-repeat; padding: 30px 0px 0px 210px; margin: -30px 0px 0px 0px; min-height: 65px;  }
*/

.navigation { float: right; bordeR: }
.navigation ul { margin: 0px 0px 0px 0px; width: 100%; overflow: hidden;}
.navigation ul li { display: block; float: right; margin: 0px 0px 0px 10px; height: 30px; border-left: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; }
.navigation ul li a { display: block; padding: 0px 20px 0px 20px; line-height: 30px; background: #ffffff; min-width: 100px; text-align: center; color: #000000; font-weight: bold; text-decoration: none; }
.navigation ul li a:hover { background: #ffffff; text-decoration: none; }

.main { margin-bottom: 30px; _height: 1px; }

.float-container { width: 100%; overflow: hidden; }
.float-container > h2 { float: left; }
.float-container .right-text { float: right; }
.divider { height: 1px; border-bottom: 1px solid #ff0000; }
.hidden { display: none; }

.left-column { float: left; width: 620px; }
.right-column { float: right; width: 340px; }
.top-center { margin: 0px 0px 0px 0px; }

.aggregate-control { margin: 10px 0px 10px 0px; background-color: #fff; border: 1px solid #d8d8d8; padding: 20px; }
.control { margin: 10px 0px 10px 0px; background-color: #fff; border: 1px solid #d8d8d8; padding: 20px; }
.aggregate-control .control { border: 0px solid #d8d8d8; padding: 0px; }


input[type="text"] { font-size: 14px; padding: 0.5%; border: 1px solid #666666; min-width: 70%; }
textarea { font-size: 14px; padding: 0.5%;  border: 1px solid #666666; min-width: 70%; min-height: 150px; }
select { height: 28px; font-size: 14px; }
h2 + form {  }
form ul li { width: 100%; overflow: hidden; margin: 10px 0px 10px 0px;  }
form ul li label { width: 25%; color: #000000; font-size: 14px; float: left;  margin-right: 1%; display: block; }
form ul li input { float: left; display: block; margin-right: 1%; }
form ul li select { float: left; display: block; margin-right: 1%; }
form ul li textarea { float: left; display: block; margin-right: 1%; }
form ul li button { float: left; display: block; margin-right: 1%; }
form ul li div { float: left; display: block; margin-right: 1%; font-size: 14px; }


form ul li a { margin: 4px 0px 0px 0px; float: left; display: block; margin-right: 1%; }

form fieldset { }
form legend { font-weight: bold; display: none !important; border: 1px solid #000; }
form button { margin: 0px 0px 0px 26%; }
button{ display:block; font-weight:bold; color:#ffffff; cursor:pointer; width: 112px; padding: 0; height: 25px; border-style: none; border-width: 0px; border-spacing: 0px; border-color: #ff0000; background: none; }
button.blue div { margin: -2px 0px 0px -3px; background: #045a92 url('http://www.quickflix.com.au/Cms/Images/Buttons/AddToQueueLarge.gif') repeat-x; border: 1px solid #414141; padding: 4px 0px 0px 0px; height: 19px; min-width: 110px; width: auto !important; width: 110px; }

form ul li input[type="checkbox"] { display: block; margin: 2px 0px 0px -45%; }
form ul li label.checkbox { margin-left: 30%; width: 40%; }


a.item-picker { margin-left: 21%; display: block; }

#Add-Pages-To-Skin  form ul li input[type="checkbox"] { display: block; margin: 2px 0px 0px -55%; }
#Add-Pages-To-Skin form ul li label.checkbox { margin-left: 15%; width: 40%; }

.saved { position: absolute; background: #ffffff; padding: 5px; font-size: 14px; color: Green; text-align: center; min-width: 80px; }
.edit-links { position: absolute; margin: 0px 0px 0px 0px; z-index: 5; }
.edit-links  li { float: left; }
.edit-links li  { display: block; text-align: center; padding: 5px; background: #000000; color: #ffffff; margin: 2px 0px 2px 2px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }


.container { background: #ffffff; border: 1px solid #d8d8d8; padding: 20px; margin: 0px 0px 15px 0px; }
li.page-skin { float: left; margin-right: 15px; }
li.page-skin img.skin {  width: 146px; height: 146px; }
.right-column li.page-skin img.skin { width: 120px; height: 120px; }
.right-column li.new-page-skin { width: 120px; height: 120px; }
.right-column .page-skin div.float-container { display: none; }


/* Display a list of pages */
ul.pages-container { float: left; width: 145px; background: #ffffff; border: 1px solid #d8d8d8; padding: 20px; margin: 0px 15px 15px 0px; }
ul.pages-container:nth-child(5n + 5) { margin-right: 0px; float: right; }
ul.pages-container:nth-child(6n + 6) { margin-right: 0px; float: right; }
ul.pages-container:nth-child(7n + 7) { margin-right: 0px; float: right; }
ul.pages-container li { padding: 5px 0px 5px 0px; }


/* Error Styles */
input.error, textarea.error { border: 1px solid #ff0000; }
p.error-message { color: #ff0000; margin-left: 26%; float: left; padding: 3px 0px 0px 0px; }
label.error { color: #ff0000; }
.disabled { color: #666666; }