@{
    ViewBag.Title = "Financials";
    ViewBag.PageId = "contact-us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Disclaimer</h2><p>The information provided within this website is for information purposes only and is subject to change without notice.
</p>
<p>
Whilst every attempt has been made to ensure the accuracy of the information specified within this website, Centreway Capital does not give any warranty (express or implied) of reliability, accuracy, currency or completeness of any of the information supplied nor does it accept any responsibility for loss, claim or damage which the recipient or any third party may suffer in any way (including by reason of negligence) as a result of any errors or omissions in the information provided (subject to any liability which cannot be excluded by law).
</p>
<p>
The information contained within this website may include certain statements or representations concerning a property including descriptions, images, plans and layouts. Any such statements or representations must not be relied on as statements or representations of fact and persons must make their own enquiries and satisfy themselves by their own inspection, investigation or otherwise.
</p>
<p>
The information may also include certain statements, estimates and projections with respect to anticipated future performance or events. Any such statements, estimates and projections are given as opinions only and reflect various assumptions by Centreway Capital which may or may not prove to be correct. No representations or warranties are made as to the validity of those assumptions or the accuracy of those statements, estimates or projections.
</p>
<p>
Centreway Capital recommends that you seek independent advice before acting upon material in this website. The website content has been prepared without taking account of your objectives, financial situation or needs. In deciding whether to acquire or continue to hold an investment you should obtain a copy of the Information Memorandum and Supplementary Information Memorandum.
</p>
<p>
Centreway Capital does not take responsibility for websites of other organisations, whether or not linked, or any device used to access or view this website.
</p>
<p>
© All rights reserved.
</p>
<p>
No part of this website may be reproduced without written permission from Centreway Capital, except for brief reference purposes.</p>
