@model Auslink.Web.New.Areas.Admin.Models.Cms.EditPageViewModel




<div class="cms view-page">

    <div class="page-head">
        <h2>Edit @Model.Name</h2>
    </div>
    <div class="body-content">

        @{Html.RenderPartial("EditPageForm", Model);}

    </div>

</div>







