

<div class="investors">
    <div class="headerImage">
    
    </div>
</div>    


<div id="content">


        <div class="leftColumn">

            <h1>
                Investors
            </h1>
            
            <p> 
                Castlerock's simple investment structures, with government-backed tenants, are designed to have less risk than more complicated property funds. This makes them attractive to long-term investors who are seeking a stable income flow and the potential for capital growth.
            </p> 

            <h3>Funds</h3> 
            <p> 
                We continue to develop new portfolios of government-leased buildings, which can offer investors some flexibility in the method and timing of distribution payments. This enables investors to choose a fund they believe best suits their income needs.
            </p> 
            <p>
                The objectives of our funds are to develop and purchase a portfolio of Commonwealth and State Government leased assets located throughout Australia that can provide investors with a secure and growing income stream, and long-term capital growth.
            </p>
            <p>
                If you are interested in finding out more about our property funds please contact us.
            </p>

            
                <h3>Partnerships</h3> 
                <p> 
                    We work closely with advisers, such as accountants and financial planners, to help identify investors who may be interested in our funds. 
                    If you have clients who may be interested in our funds please contact us for more information.
                </p>                         
            
        </div>
        <div class="rightColumn">
  
        </div>            
    
</div>