@{
    ViewBag.Title = "Carnarvon, VIC Centrelink";
    ViewBag.PageId = "property-portfolio-single";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Property Portfolio";
    ViewBag.SelctedProperty = "Carnarvon";
}

@section LeftNavigation{

    @Html.Partial("PropertySideNav")
}

<h2>Carnarvon, VIC</h2>

<ul class="table two-column">
    <li>
        <p>Address:</p>        <p>76 Robinson St, Carnarvon, WA</p>    </li>
    <li>        <p>Description:</p>	        <p>Single level office building with parking for 14 cars</p>    </li>
    <li>        <p>Net Lettable Area:</p>        <p>680 square metres</p>    </li>
    <li>        <p>Tenant:</p>        <p>Commonwealth Government</p>    </li>
    <li>        <p>Lease Term:</p>        <p>7 years + 2 x 3 years</p>    </li>
    <li>        <p>Lease Commencement:</p>
        <p>December 2009</p>
    </li>
</ul>

<img src="/Content/Images/Properties/Carnarvon/755x311.jpg" />