@{
    ViewBag.Title = "Property Portfolio";
    ViewBag.PageId = "property-portfolio-single";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Property Portfolio";
}


<h2>Property Portfolio</h2>