@model AggregateControl
@using Portal.Cms.Controls
@using Portal.Cms.Interfaces
@using Portal.Web.Areas.CMS.Models

<style>
.header { width: 910px; overflow: hidden; min-height: 300px; margin: 0px auto 0px auto; }
.header h1 { margin: -300px 0px 0px 0px; float: left; }
.header h1 a { display: block; background: url(http://www.auslinkproperty.com.au/Content/Images/logo.png) no-repeat; width: 369px;height: 131px; text-indent: -9999px; }
.header .red-logo { display: block; text-indent: -9999px; float: right; margin: -260px 0px 0px 0px; }
.header .background { display: block; margin: 0px 0px 0px 0px; float: left; }
</style>

<div class="header">
    @foreach (IControl control in Model.Controls)
    {
        Html.RenderPartial(control.View, control);
    }

</div>