@model NavigationItem
@using Portal.Cms.Controls
@using Portal.Cms.Interfaces
@using Portal.Web.Areas.CMS.Models


<li>    <a href="@Model.Url">@Model.Name</a>
    @if (Model.Controls.Count > 0)
    {
    <div>
        @foreach (IControl control in Model.Controls)
        {
            Html.RenderPartial(control.View, control);
        }
    </div>
    }
</li>