@{
    ViewBag.Title = "Investors - Current Unitholders";
    ViewBag.PageId = "members-investors-current-unitholders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Investors";
}

@section LeftNavigation{

    <ul>
        <li>
            @Html.RouteLink("Prospective Investors", "Investors")
        </li>
        <li class="selected">
            @Html.RouteLink("Current Unitholders", "Investors-Current-Unitholders")
        </li>
    </ul>
}


<div id="current-unit-holders">

    <h2>Current Unitholders</h2>
    <p>
    Welcome to the Auslink Property Trust Unitholders section.  
    </p>

    <h3>Distributions</h3>
    
    <p class="small-margin-bottom">
        The forecast distribution and tax deferral component for the 2014 financial year is shown below:
    </p>

    <ul class="table two-column">
        <li>
            <p>Amount:</p>
            <p>10.0 cents per unit</p>
        </li>
        <li>
            <p>Tax Deferred:</p>
            <p>100% </p>
        </li>
    </ul>
    
    <p class="small-margin-bottom">
        Details of the next distribution to be paid is shown below: 
    </p>
    
    <ul class="table two-column">
        <li>
            <p>Amount:</p>
            <p>2.5 cents per unit</p>
        </li>
        <li>
            <p>Period:</p>
            <p>Quarter ending 30 September 2013</p>
        </li>
        <li>
            <p>Payment Date:</p>
            <p>30 October 2013</p>
        </li>
    </ul>


    <h3>Annual General Meeting</h3>
    <p>
        2012 AGM Presentation <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Auslink-Property-Trust-AGM-October-2012.pdf">(download pdf)</a> <br />
        2011 AGM Presentation <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Auslink-Property-Trust-AGM-October-Amended.pdf">(download pdf)</a>
    </p>

    <h3>Quarterly updates</h3>
    <p>
        June 2013 <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Quarterly-Update-June-2013.pdf">(download pdf)</a> <br/>
        March 2013 <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Quarterly-Update-March-2013.pdf">(download pdf)</a> <br/>
        December 2012 <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Quarterly-Update-December-2012.pdf">(download pdf)</a> <br/>
        September 2012 <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Auslink-Property-Trust-AGM-October-2012.pdf">(download pdf)</a> <br/>
        June 2012 <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Quarterly-Update-June-2012.pdf">(download pdf)</a> <br/>
        March 2012 <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Quarterly-Update-March-2012.pdf">(download pdf)</a> <br/>
        December 2011  <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Quarterly-Update-December-2011.pdf">(download pdf)</a>
    </p>

    <h3>Financial Reports </h3>
    <p>
        2012 Financial Year <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Final-Signed-2012-Accounts.pdf">(download pdf)</a><br />
        2011 Financial Year <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Final-Signed-2011-Accounts.pdf">(download pdf)</a><br />
        2010 Financial Year <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Final-Signed-2010-Accounts.pdf">(download pdf)</a><br />
        2009 Financial Year <a href="http://castlerockproperty.blob.core.windows.net/auslinkproperty/pdfs/Final-Signed-2009-Accounts.pdf">(download pdf)</a>
    </p>
    
    <h3>Tax Statements</h3>
    <p>
        Tax Statements for the 2013 financial year will be mailed to unitholders in early September 2013.
    </p>

    <p>
        If you need additional information, please contact Jason Bronts 
        via email at <a href="mailto:j.bronts@auslinkproperty.com.au">j.bronts@auslinkproperty.com.au</a> or by telephone on (03) 9827 4600.
    </p>

</div>




















