@{
    ViewBag.Title = "Managerment - Development & Property Manager";
    ViewBag.PageId = "management-property-manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Management";
}

@section LeftNavigation{

    <ul>
        <li>
            @Html.RouteLink("Trust Manager", "Management")
        </li>
        <li class="selected">
            @Html.RouteLink("Development & Property Manager", "Management-Property-Manager")
        </li>
    </ul>
}



<h2>Development & Property Manager</h2><p>    The assets within the Trust are developed and managed by the Castlerock Property group. 
</p>

<p>
    Castlerock is one of the most experienced developers and managers of government-leased property in Australia, with experience dating back to 1995. 
</p>

<p>
    Castlerock has successfully secured and delivered over 20 projects for Commonwealth and State Government departments 
    over the past 10 years, and has earned an outstanding reputation for developing and managing property to suit the needs of the
    government sector. Over this time Castlerock has developed excellent working relationships with government 
    departments and a unique understanding of their needs and requirements. 
</p><p>    More information on Castlerock can be found at <a href="http://www.castlerockproperty.com.au">www.castlerockproperty.com.au</a>
</p>