@model Portal.Web.Models.ImageUploadViewModel
           

<li>
    <label>Images</label>
    @Html.Hidden("imageIds", string.Empty)

    @for(int i = 0; i < 5; i++)
    {
        <div class="upload-image border-thin"></div>
    }
</li>


<script type="text/javascript">
    window.addEvent('domready', function () {

        new ImageUpload('upload-image', '@Model.ImagePath');
    });
</script>