@{
    ViewBag.Title = "Key Features of Auslink Property Trust";
    ViewBag.PageId = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "About";
}


@section LeftNavigation{

    <ul>
        <li>
            @Html.RouteLink("Overview", "About")
        </li>
        <li class="selected">
            @Html.RouteLink("Key Features", "About-Key-Features")
        </li>
    </ul>
}

<h2>Key Features</h2><h3>Quality Assets</h3><p>The assets within the Trust will be newly developed, highly specified and tenanted by the Commonwealth Government. </p><h3>Attractive Yield</h3><p>The objective of the Trust is to provide investors with an annualised distribution every year of at least 8.0% per annum on their investment, paid quarterly.</p><h3>Stable Income</h3><p>Rental income for each property asset in the Trust will be underpinned by the Commonwealth Government as a tenant.</p><h3>Tax Advantaged Income</h3><p>Assets in the portfolio will be developed within the Trust and will therefore provide significant depreciation benefits. Distributions from the Trust for the first five years are expected to be 100% tax advantaged.</p><h3>Environmentally Sustainable Buildings</h3><p>Every building developed within the Trust will have at least a 4.5 star NABERS (National Australian Built Environment Rating System) rating.</p><h3>Geographical Diversification</h3><p>The assets developed in the Trust will be located in cities and regional areas all across Australia.
</p><h3>Low Management Fees</h3><p>Ongoing trust management fees of 0.615% of the value of the completed buildings.</p><h3>Low Development Risk</h3><p>The Trust will only purchase land and develop a building if the Commonwealth Government has committed to lease the proposed building on completion. Planning, environmental and construction risk will be borne by the Trust. Planning and environmental risk will be mitigated through enquiries made prior to the purchase of any property to ensure any issues are known and considered. Construction risk will be mitigated by the experience and expertise of Castlerock.</p><h3>Property Development and Management Expertise </h3><p>    Castlerock has considerable expertise in developing and managing property to suit the needs of the     government sector. Over the past 10 years Castlerock has developed 16 commercial office     buildings leased by Commonwealth and State Government departments and currently manages     15 government tenanted offices on behalf of investors.</p>

