@{
    ViewBag.Title = "Managerment - Trust Manager";
    ViewBag.PageId = "management-trust-manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Management";
}

@section LeftNavigation{

    <ul>
        <li class="selected">
            @Html.RouteLink("Trust Manager", "Management")
        </li>
        <li>
            @Html.RouteLink("Development & Property Manager", "Management-Property-Manager")
        </li>
    </ul>
}

<h2>Trust Manager</h2>
<p>
    The Manager of the Auslink Property Trust is Auslink Investment Management.
</p>

<p>
    The Directors of Centreway Capital bring together a wealth of experience in funds management, property development, property management, and working with government departments.
</p>


<h3>Carl Rooke – Chairman</h3><p>	Carl is a former National Chairman of Horwath Australia and currently acts as a consultant to BDO Kendalls.     Carl commenced his career in chartered Accounting in 1970 and established his own firm in 1974. Carl is a Director     on a number of large private company boards and is a Fellow of the Institute of Chartered Accountants and the Institute     of Company Directors. Carl has a history of successful business practice with over 30 years experience in management,     accounting and finance.</p>
<h3>Hank Bronts – Executive Director</h3>
<p>
    Hank is the founder of Castlerock, a privately owned company that has grown to become a specialist in developing and 
    managing government-leased property. Hank has been providing property development and asset management services in the 
    government sector since 1990. During this time Hank has developed more than 20 buildings, advising on project 
    feasibility, project finance, site selection, planning, design, construction and property management.
</p>

<h3>Pearse Morgan – Executive Director</h3>
<p>
    Pearse is a Senior Partner of RGM Financial Group, a Chartered Accountant and Certified Financial Planner. Pearse has 
    been involved in raising funds for commercial office developments and investments, and ongoing finance and accounting 
    roles since 1990. During this time Pearse and has been involved in more than 20 successful development projects and investments.
</p>

<h3>Jason Bronts – Executive Director</h3>
<p>
    Jason is a Director of Castlerock and has more than 10 years of experience in trust management, property development and 
    property finance, gained while working at Macquarie Bank, KordaMentha, Legal & General Investment Management, and more recently 
    with Castlerock. Jason holds bachelor degrees in Commerce and Engineering. 
</p>

<h3>Vince Peluso – Executive Director</h3>
<p>
    Vince is a Director of RGM Financial Group and has been involved in financial planning and compliance since 2002. 
    Prior to joining RGM Vince was employed by Westpac for 28 years in various management positions within corporate 
    and commercial finance.
</p>


