@model CmsPagesViewModel
@using Portal.Web.Areas.CMS.Models
@using Portal.Web.Areas.CMS
@{
    ViewBag.Title = "Content Management System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
.pages { width: 100%; overflow: hidden; margin: 40px 0px 0px 0px; }
.pages li { float: left; width: 280px; min-height: 70px; margin-right: 40px; }
.pages li:nth-child(4n + 4) { margin-right: 0px; }

.new-page { float: right; }
</style>

@Html.RouteLink("New Page", CMSAreaRegistration.CmsNewPageRouteUrl, new { }, new { @class = "new-page button white-arrow" })

    
<div class="content-padding">
    <h1>Content Management System</h1>

    <ul class="pages">
    
        @foreach (PageViewModel page in Model.Pages)
        {
        <li>
            @Html.RouteLink(page.Name, CMSAreaRegistration.CmsPageRouteUrl, new { pageId = page.Id, pageName = page.NameUrlFriendly }, new { })
        </li>
        }

    </ul>

</div>






