@model CmsPageViewModel
@using Portal.Cms.Interfaces
@using Portal.Web.Areas.CMS.Models
@using Portal.Web.Areas.CMS
@{
    ViewBag.Title = "Content Management System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="sub-navigation">
    <li class="left">
        <h1>
            Please choose a template for the new page
        </h1>
    </li>
</ul>


<div class="content-padding">
 
@using (Html.BeginRouteForm(CMSAreaRegistration.CmsSaveNewPageRouteUrl, new {  }, FormMethod.Post, new {  }))
{
    <fieldset>
    <legend>New page</legend>
        
            @{Html.RenderPartial("Fields", Model.Page);}
        
    </fieldset>
}

</div>

