@model Castlerock.Web.Models.PageViewModel
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Css/Reset.css")" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript" src="/Content/Javascript/mootools.js"></script> 
    <script type="text/javascript" src="/Content/Javascript/mootools-more.js"></script>

    <style>
    /*body, html { font-family: 'Droid Serif', serif; font-size: 16px; color: #424242; }*/
   
* {
	margin: 0;
} 
    body {
   font-family: "Helvetica Neue LT Com 45 Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px; color: #424242; padding: 0px; margin: 0px; height: 100%;
}
    html {
   padding: 0px; margin: 0px; height: 100%;
}

    
    p { margin: 10px 0px 10px 0px; line-height: 25px; }
    p:first-child { margin-top: 0px; }
    h2 { font-size: 24px; font-weight: bold; font-family: "Helvetica Neue LT Com 75 Bold" }
    h3 { font-size: 18px; font-weight: bold; font-family: "Helvetica Neue LT Com 75 Bold" }
    ul li { background: url(/Content/V2/Images/bullet-point.png) no-repeat; background-position: 0px 7px; padding: 0px 0px 0px 20px; margin: 3px 0px 3px 0px; }
    
    
    .content-wide { width: 1200px; margin: 0px auto 0px auto; }
    .content { width: 960px; margin: 0px auto 0px auto; overflow: hidden; }

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -35px; /* the bottom margin is the negative value of the footer's height */
}
    
    .navigation { width: 100%; overflow: hidden; font-family: "Helvetica Neue LT Com 75 Bold" }
    .navigation li { float: right; margin: 10px 0px 0px 0px; background: none; }
    .navigation li.logo { float: left; background: url(http://castlerockproperty.blob.core.windows.net/castlerock/images/logo.gif) no-repeat; text-indent: -9999px; width: 188px; height: 29px; margin-top: 13px; }
    .navigation li a { color: #424242; text-decoration: none; display: block; padding: 13px 25px 5px 25px; font-weight: bold; }
    .navigation li a:hover { color: #8ebc22; }
    
    .header-image {  width: 1200px; height: 395px; }
    
    .header-image .images { position: absolute; }
    .header-image .images img { position: absolute; }
    
    .overlay { width: 345px; height: 78px; float: right; margin: 317px 0px 0px 0px; }
    .overlay img { opacity: 0.7; position: absolute; }
    .overlay ul { position: absolute; padding-left: 10px; }
    .overlay ul li { cursor: pointer; float: left; background: none; padding: 9px 3px 3px 3px; font-weight: bold; margin: 0px 3px 0px 3px; color: #a4a4a4; font-size: 14px; }
    .overlay ul li.selected { border-bottom: 2px solid #ffffff; color: #ffffff; }
    
    .left { float: left; width: 460px; }
    .right { float: right; width: 460px; }
    
    .left-wide { float: left; width: 600px; }
    .right-thin { float: right; width: 320px; }
    
    ol.benefits li { line-height: 38px; width: 100%; overflow: hidden; padding: 10px 0px 10px 0px; font-weight: bold; font-family: "Helvetica Neue LT Com 75 Bold" }
    ol.benefits li span { color: #ffffff; float: left; width: 38px; height: 38px; background: url(/Content/V2/Images/green-circle.png) no-repeat; text-align: center; margin: 0px 20px 0px 0px; font-size: 24px; font-weight: bold; display: block; }
    
    .footer { height: 35px; background: #424242; line-height: 35px; }
    
    .footer a { color: #ffffff; text-decoration: none; display: block; font-weight: bold; font-size: 14px; }
    .footer a:hover { color: #ffffff; text-decoration: underline; }
    
    </style>

</head>

<body>

<div class="wrapper">

    <div class="content-wide">
        <div class="content">
            <ul class="navigation">
                <li class="logo">                    <a href="/V2">Home</a>                </li>                                <li>                    <a href="/V2/AboutUs">About Us</a>                </li>                                <li>                    <a href="/V2/Experience">Experience</a>                </li>                                <li>                    <a href="/V2/Properties">Properties</a>                </li>                                <li>                    <a href="/V2/Investors">Investors</a>                </li>            </ul>
        </div>
        
        <div class="header-image">
        
            <div class="images">
                <img class="selected" src="/Content/V2/Images/header05.png" />
            </div>
                
            <div class="overlay">
                <img src="/Content/V2/Images/header-overlay.png" />
                <ul>
                    <li class="selected">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        @RenderBody()
    </div>
</div>
    <div class="footer">
    
        <div class="content">
            <a href="/content-us">Contact us</a>
        </div>

    </div>
</body>
</html>





<script type="text/javascript">



 
window.addEvent('domready', function() {
	
	var headerImage = new HeaderImage($$('.header-image').getElements('.images img'));
		
});


var HeaderImage = new Class({

    _images: null,
    _position: 0,
    _nextPosition: 1,
    _handles: null,
    _intervalId: null,

    options: {

},

initialize: function (images) {


    this._images = images[0];
    this._handles = $$('.overlay ul li');
    this._handles.each(this.addHandleEvents.bind(this));
    this._images.push(new Asset.image('/Content/V2/Images/header06.png', { id: 'image5', title: 'myImage', onload: this.imageLoaded.bind(this) }));
    this._images.push(new Asset.image('/Content/V2/Images/header04.png', { id: 'image4', title: 'myImage', onload: this.imageLoaded.bind(this) }));
    this._images.push(new Asset.image('/Content/V2/Images/header02.png', { id: 'image2', title: 'myImage', onload: this.imageLoaded.bind(this) }));
    this._images.push(new Asset.image('/Content/V2/Images/header01.jpg', { id: 'image5', title: 'myImage', onload: this.imageLoaded.bind(this) }));
    this._images.push(new Asset.image('/Content/V2/Images/header03.png', { id: 'image3', title: 'myImage', onload: this.imageLoaded.bind(this) }));

    this._intervalId = this.showHideImages.periodical(6000, this);
},

addHandleEvents: function (handle, index) {
    handle.addEvent('click', this.handleClicked.bind(this, handle, index));
},

handleClicked: function (handle, index, event) {

    event.stop();

    clearInterval(this._intervalId);

    this.fadeInOut(this._images[this._position], this._images[index]);

    this._position = index;

    this.updateHandles();


    this._intervalId = this.showHideImages.periodical(6000, this);
},

imageLoaded: function (image) {

    image.setStyle('opacity', 0);
    image.inject(this._images[0].getParent(), 'bottom');
},

updateHandles: function () {
    this._handles.removeClass('selected');
    this._handles[this._position].addClass('selected');
},

showHideImages: function () {

    if (this._position < 0) {

        this._position = 0;
    }
    var image = this._images[this._position];

    this._position++;

    if (this._position == this._images.length) {
        this._position = 0;
    }

    var next = this._images[this._position];

    this.updateHandles();

    this.fadeInOut(image, next);
},

fadeInOut: function (currentImage, nextImage) {

    currentImage.set('morph', { duration: 1800, transition: Fx.Transitions.Sine.easeOut });
    nextImage.set('morph', { duration: 1800, transition: Fx.Transitions.Sine.easeOut });

    currentImage.morph({ opacity: 0 });
    nextImage.morph({ opacity: 1 });

    currentImage.removeClass('selected');
    nextImage.addClass('selected');
}


});
</script>



