@model IList<IControl>
@using Portal.Cms.Interfaces
@using Portal.Web.Areas.CMS
@using Portal.Interfaces.Cms

<ul>
@foreach (IControl control in Model)
{
    <li id="@control.Id.ToString()">
        @control.Name 
        &nbsp | &nbsp;
        @Html.RouteLink("Add", CMSAreaRegistration.CmsAddControlsRouteUrl, new { parentControlId = control.Id, location = control.Location }, new { })
        &nbsp | &nbsp;
        @Html.RouteLink("Delete", CMSAreaRegistration.CmsDeleteControlRouteUrl, new { controlId = control.Id }, new { })
        @if (control.Controls.Count > 0)
        {
            Html.RenderPartial("ControlList", control.Controls);
        }
    </li>
}
</ul>

