@model IList<IParameter>
@using Portal.Cms.Interfaces


    
    @foreach (IParameter parameter in Model)
    {
        <li>
        @{Html.RenderPartial(parameter.View, parameter);}
        </li>
    }

