@model MembershipPageViewModel
@using Portal.Web.Areas.Membership.Models;
@using Portal.Web.Areas.Membership;
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="sub-navigation">
    <li>
        @Html.RouteLink("Create New Member", MembershipAreaRegistration.MembershipNewRouteUrl, new { }, new { @class = "right button white-arrow" })
    </li>

    <li class="left">
        <h1>Membership</h1>
    </li>
</ul>


<div class="content-padding">

    <ul class="members">
        @foreach (MemberViewModel member in Model.Members)
        {
        <li>
            @Html.RouteLink(member.Username, MembershipAreaRegistration.MembershipEditRouteUrl, new { memberId = member.Id, username = member.Username }, new { })
            <p>
                @member.Profile.FirstName
            </p>
        </li>
        }

    </ul>

</div>


