@model MembershipPageViewModel
@using Portal.Web.Areas.Membership.Models;
@using Portal.Web.Areas.Membership;
@{
    ViewBag.Title = "Create New Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="sub-navigation">
    <li class="left">
        <h1>Create New Member</h1>
    </li>
</ul>

<div class="content-padding">

@Html.ValidationMessage("ErrorMessage")

@using (Html.BeginRouteForm(MembershipAreaRegistration.MembershipSaveNewRouteUrl, new { }, FormMethod.Post, new { }))
{
    Html.RenderPartial("Fields", Model.Member);
}

</div>
