@model MembershipPageViewModel
@using Portal.Web.Areas.Membership.Models;
@using Portal.Web.Areas.Membership;
@{
    ViewBag.Title = "Create New Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Create New Member</h1>

@Html.ValidationMessage("ErrorMessage")

@using (Html.BeginRouteForm(MembershipAreaRegistration.MembershipSaveNewRouteUrl, new { }, FormMethod.Post, new { }))
{
    Html.RenderPartial("Fields", Model.Member);
}

