@model IList<Portal.Messaging.Interfaces.IMessage<Portal.Cms.Interfaces.IControl>>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
