@{
    ViewBag.Title = "Google Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="sub-navigation">
    <li>
        <a target="_blank" class="google-analytics-login button white-arrow" href="http://www.google.com/analytics/">Login</a>
    </li>

    <li class="left">
        <h1>Google Analytics</h1>
    </li>
</ul>

