@{
    ViewBag.Title = "Financials";
    ViewBag.PageId = "contact-us";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Contact Us";
}


<h2>Forgotten Login Details</h2><p>    Please email <a href="reception@auslinkproperty.com.au">reception@auslinkproperty.com.au</a> or call Alicia Simpson on (03) 9827 4600.</p>