@{
    ViewBag.Title = "Investors - Prospective Investors";
    ViewBag.PageId = "investors-prospective";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Investors";
}

@section LeftNavigation{

    <ul>
        <li class="selected">
            @Html.RouteLink("Prospective Investors", "Investors")
        </li>
        <li>
            @Html.RouteLink("Current Unitholders", "Investors-Current-Unitholders")
        </li>
    </ul>
}



<h2>Prospective Investors</h2><p>    The Auslink Property Trust offers investors the opportunity to purchase units in a Trust that owns a growing portfolio of government-leased buildings located throughout Australia.</p><p>    The key features of the current capital raising are shown below:</p><ul class="table two-column">    <li>        <p>            Current Unit Price:         </p>        <p>            $1.10        </p>    </li>    <li>        <p>            Forecast Distribution FY13:         </p>        <p>            9.3 cents per unit          </p>    </li>    <li>        <p>            Forecast Tax Deferred Income FY13:          </p>        <p>            100%          </p>    </li>    <li>        <p>            Distribution Frequency:        </p>        <p>            Quarterly         </p>    </li>    <li>        <p>            Minimum Investment:        </p>        <p>            $100,000         </p>    </li>    <li>        <p>            Investors        </p>        <p>            Wholesale Investors and Sophisticated Investors        </p>    </li></ul><p>    For a copy of the latest Information Memorandum please contact Jason Bronts via email at <a href="mailto:j.bronts@auslinkproperty.com.au">j.bronts@auslinkproperty.com.au</a> or by telephone on (03) 9827 4600.</p>