@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/V2/Views/Shared/_Layout.cshtml";
}



<div class="float-container">
    <div class="left">
        <p>
            <strong>Castlerock specialises in the development and management of purpose built government-leased office buildings.</strong>        </p>        <p>
            We provide opportunities for property investors to invest in newly developed commercial             offices tenanted by government departments. With more than 15 years experience developing             and managing government offices, we understand how to successfully develop and manage             property to meet the specific needs of the government sector.        </p>        <p>            Focusing on the development of Centrelink Customer Service Centres we have gained a             unique understanding of this asset class, and how to best develop and manage these             assets to suit Centrelink and ensure their long-term commitment to the building.        </p>
    </div>

    <div class="right">
        <h2>Why Castlerock?</h2>
        <ol class="benefits">
            <li>
                <span>1</span>Over 50 Years of Experience
            </li>
            <li>
                <span>2</span>Attractive Yields
            </li>
            <li>
                <span>3</span>Low Risk
            </li>
            <li>
                <span>4</span>Proud Track record
            </li>
            <li>
                <span>5</span>Management + Development extperise
            </li>
        </ol>
    </div>
</div>
