@{
    ViewBag.Title = "Financials";
    ViewBag.PageId = "contact-us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Privacy</h2><h3>Privacy Statement</h3>

<p>
This Privacy Statement applies to this Website which is operated by Centreway Capital Ltd (“Centreway Capital”) for and on behalf of the Auslink Property Trust and related parties (hereinafter referred to as "we", "us" and "our") under the domain name www.auslinkproperty.com.au (“Website”) and outlines our approach to privacy and how we use Personal Information provided to us.
</p>
<p>
We recognise your privacy is important to you and we are committed to ensuring the protection of your privacy online and to that end we comply with the National Privacy Principles, set out in the Privacy Act 1988.
</p>
<p>
<h3>Personal Information Collection</h3>

<p>
Centreway Capital in carrying out its management role has a need to collect personal information. Centreway Capital collects personal information when an individual gives personal information by filling out an application form or other forms and contacting us via phone, facsimile or email. This information may be collected directly by us or our agents.
</p>
<p>
The personal information you provide to us will be retained only for as long as necessary to fulfill the purpose for which the information was collected or as required by law. We will not collect any personal information about you unless you have knowingly provided that information to us or authorised a third party to provide that information to us.
</p>
<p>
In common with many commercial websites we may also collect aggregated information which tells us about visitors to this Website but not the identity of those visitors, except where a website user has previously registered with the site and has logged in with their account details. For example, we may collect information about the date, time and duration of visits and which pages of this Website are most commonly accessed. This information is used by us to help to administer and improve the Website.
</p>

<h3>Information Use</h3>
<p>
Personal information is collected, held and used for the following purposes:
</p>

<ul class="list">
    <li>
        for the main purpose for which the information was collected, and related purposes which would be within your reasonable expectations.
    </li>
    <li>
        consider applications and approaches you make to us;
    </li>
    <li>
        communicate with you about your investment;
    </li>
    <li>
        to market and promote our buildings, products and services.
    </li>
    <li>
        as required or authorised by the Privacy Act or other law (for example, disclosure to government regulatory and law enforcement agencies) or in emergency situations.
    </li>
</ul>

<h3>Disclosure</h3>

<p>
We only use and disclose personal information about you for the purpose for which it was disclosed to us or related purposes which would reasonably be expected without your permission. We may disclose personal information to third parties who provide services in connection with our products and services or to your nominated financial advisor.
</p>
<p>
Third parties to whom Centreway Capital may disclose your personal information include:
</p>

<ul class="list">
    <li>
        Our agents who maintain information on our behalf or who provide property management/leasing services
    </li>
    <li>
        Regulatory authorities, or as required to fulfil legal and regulatory requirements
    </li>
    <li>
        Related and non related entities for purposes of marketing the building; and
    </li>
    <li>
        Service providers who assist us in assessing the capability of an existing or prospective tenant to meet its financial obligations.
    </li>
</ul>

<p>
        We may from time to time use your personal information to inform you of investment opportunities or to provide information about products and services which we expect may be of interest to you. However, we do respect your right to ask us not to do this.
</p>

<h3>Links</h3>

<p>
This Website may, from time to time, contain links to the websites of other organisations which may be of interest to you. Linked websites are responsible for their own privacy practices and you should check those websites for their respective privacy statements.
</p>



<h3>Security</h3>

<p>
    We take all reasonable steps to protect the security of the personal information that we hold. This includes appropriate measures to protect electronic materials and materials stored and generated in hard copy. You should be aware that the Internet is not a secure environment. If you use the Internet to send us information, including your e-mail address, it is sent at your own risk.
</p>
<p>
    Updating and Accessing your information</h3>
</p>
<p>
    We will strive to keep all information we collect as accurate and up-to-date as possible. You can access your details held on our system by contacting us. This service is usually free of charge, however, if the information you request requires significant research or preparation time, it may be necessary for a fee to be charged. Should this be the case, we will notify you before any work is commenced. You have the right to have inaccurate information about you corrected. If you believe that any information we hold on you is inaccurate, you should contact our Privacy Officer, on the contact details below, who will discuss the matter with you and, if inaccuracies are established, arrange for any necessary correction.
</p>




<h3>Notification of Changes</h3>

<p>
If our privacy policy changes, we will upload the revisions to this Website where it will be predominantly linked from the homepage as well as any other areas affected by the changes.
</p>




<h3>Contact Information</h3>

<p>
    If you have any queries regarding our privacy policy please contact:
</p>
<p>
    Privacy Officer Centreway Capital Ltd Level 4
</p>
<p>
    627 Chapel St South Yarra Vic 3141 Tel: (03) 9827 4600</p>
