@model Castlerock.Web.New.Models.PropertyPageViewModel


        @{Html.RenderPartial("AustralianMap", Model);}
<div id="content">

    <div id="contentArea">

        <div class="greenColumn"></div>

        <img class="property-image" src="http://castlerockproperty.blob.core.windows.net/castlerock/images/properties/@Model.Property.ImageFolder/755x311.jpg" />
        
        </div>
    
</div>
