@model MembershipPageViewModel
@using Portal.Web.Areas.Membership.Models;
@using Portal.Web.Areas.Membership;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="sub-navigation">
    <li class="left">
        <h1>Edit Login Details: @Model.Member.Email</h1>
    </li>
</ul>

<div class="content-padding">

@Html.ValidationMessage("ErrorMessage")

@using (Html.BeginRouteForm(MembershipAreaRegistration.MembershipSaveRouteUrl, new { }, FormMethod.Post, new { }))
{

    Html.RenderPartial("Fields", Model.Member);

}


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

@{Html.RenderPartial("ChangePassword", Model.Member);}


</div>
