
<div class="aboutUs">
    <div class="headerImage">
    
    </div>
</div>


<div id="content">
    
        <div class="leftColumn">
        
            <h1>
                About Us
            </h1>

            <p>
                Castlerock is a privately owned company, established in 2000. We specialise in developing, acquiring and managing office buildings leased to Commonwealth and State Governments throughout Australia and have a unique understanding of the government sector and its requirements.
            </p>
            <p>
                Through our property funds we offer investors access to a stable portfolio of government-leased property investments. Our funds are designed to minimise risk, while providing attractive yields and the potential for long-term capital growth.
            </p>
            <p>
                We have successfully developed over 25 office buildings leased to government departments across Australia and we currently manage over 50,000sqm of government-leased office accommodation.
            </p>
        </div>
    
        <div class="rightColumn">
            <h3>Hank Bronts</h3>            <h4>Managing Director and Founder</h4>            <p>                Hank has been successfully providing asset management services to the owners of office buildings with government tenants since 1990.                 Over this time, he has developed special expertise that has enabled Castlerock to become a preferred provider in the government sector.                 During his career, Hank has developed more than 30 properties, and now oversees the management of the business            </p>            <h3>Adam Bronts</h3>            <h4>Business Development Manager</h4>            <p>                Adam is responsible for all aspects of business development at Castlerock and has been with the company for the past 14 years. His responsibilities include identifying property locations, working closely with clients to ensure the desired outcome during tender stage, purchasing land, site planning, town planning, design management and client management. Adam holds a Real Estate Agent’s License.            </p>

            <h3>Jason Bronts</h3>
            <h4>Chief Financial Officer</h4>
            <p>
                Jason joined Castlerock in 2008 and is responsible for managing the property funds established by 
                Castlerock, and for the financial management of the business. Prior to joining Castlerock, 
                Jason spent time at KordaMentha in Melbourne, Macquarie Bank in Sydney and Legal & General 
                Investment Management in London. Jason holds Bachelor degrees in Engineering and Commerce.
            </p>
        </div>        

    
</div>