@model IList<Portal.FileManager.Interfaces.IStorageItem>
@{
    ViewBag.Title = "File Manager";
}





<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name <a href="/BlobStorage/Delete?path=@item.Path@item.Name">Delete</a>
            
            @if(item.Children != null)
            {
                Html.RenderPartial("Index", item.Children);
            }
        </li>
    }
</ul>


