@{
    ViewBag.Title = "Key Features of Auslink Property Trust";
    ViewBag.PageId = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "About";
}


@section LeftNavigation{

    <ul>
        <li>
            @Html.RouteLink("Overview", "About")
        </li>
        <li class="selected">
            @Html.RouteLink("Key Features", "About-Key-Features")
        </li>
    </ul>
}
@Html.Raw(ViewBag.Html)

