html { background: #292922; }
body { background: #292922; font-size: 14px; font-family:  'Arimo', Arial, Verdana, Helvetica, Sans-Serif; margin: 0; padding: 0; color: #373c41; height: 100%; }

h2 { color: #ba0618; font-size: 18px; font-weight: bold; margin: 0px 0px 10px 0px; font-family: 'Arimo', sans-serif;  }
h3 { color: #ba0618; font-size: 14px; font-weight: bold; margin: 20px 0px 0px 0px; font-family: 'Arimo', sans-serif; }
p { color: #373c41; font: 14px; margin: 10px 0px 10px 0px; }
p.small-margin-bottom { margin-bottom: 0px; }

h3 + p { margin: 5px 0px 5px 0px; }
a { color: #ba0618; }
a:hover { color: #ba0618; text-decoration: none; }
a:visited { color: #ba0618; }
a:active { color: #ba0618; }
        .hidden { display: none; }
.content { line-height: 20px; width: 910px; margin: 0px auto 0px auto; padding: 20px; background: #ffffff url(http://castlerockproperty.blob.core.windows.net/auslinkproperty/images/side-graphic.png) no-repeat; min-height: 920px; background-position: left bottom; }
          
.header { width: 100%; overflow: hidden; min-height: 300px; }
.header h1 { margin: -300px 0px 0px 0px; float: left; }
.header h1 a { display: block; background: url(http://castlerockproperty.blob.core.windows.net/auslinkproperty/images/logo.png) no-repeat; width: 369px;height: 131px; text-indent: -9999px; }
.header .red-logo { display: block; text-indent: -9999px; float: right; margin: -260px 0px 0px 0px; }
.header .background { display: block; margin: 0px 0px 0px 0px; float: left; }
        
#home p { margin: 0px 0px 20px 0px; }
        
.navigation { width: 100%; overflow: hidden; background: #ba0618; margin: 10px 0px 0px 0px; }
.navigation li { float: left;}
.navigation li.logout, .navigation li.login { float: right; }
.navigation li a { display: block; padding: 8px 20px 8px 20px; color: #ffffff; text-decoration: none; border-right: 1px solid #dd838c;  }
.navigation li.logout a, .navigation li.login a { border-left: 1px solid #dd838c; }
        
.navigation li a:hover, .navigation li a.hover, .navigation li.selected { background: #7a0000; }
        
.navigation li > div { position: absolute;  background: #ba0618; display: none; border-top: 1px solid #dd838c; }
.navigation li > div a {  background: url(http://castlerockproperty.blob.core.windows.net/auslinkproperty/images/nav-drop-down.png) no-repeat; background-position: 20px 12px; padding-left: 30px; }
.navigation li > div a:hover {  background: #7a0000 url(http://castlerockproperty.blob.core.windows.net/auslinkproperty/images/nav-drop-down.png) no-repeat; background-position: 20px 12px; }
  
.page-content { margin: 20px 0px 0px 0px; width: 100%; overflow: hidden; }
.page-content .left { float: left; width: 135px; margin: 0px 20px 0px 0px; }
.page-content .center { float: left; width: 755px; }
.page-content .right { float: right; width: 250px; display: none; }
        
#home .center, #investors-current-unitholders .center { width: 450px; }
#home .right, #investors-current-unitholders .right  { display: block; }

#home h3 { margin-top: 0px; }
        
.footer { font-size: 12px; width: 910px; margin: 0px auto 0px auto; padding: 8px 20px 8px 20px; background: #848484; color: #ffffff; }
.footer a { color: #ffffff; font-weight: bold; }
        
        
.page-content .left ul li { border-bottom: 1px solid #ba0618; }
.page-content .left ul li:first-child {  border-top: 1px solid #ba0618; }
.page-content .left ul li a { display: block; background: #ffffff url(http://castlerockproperty.blob.core.windows.net/auslinkproperty/images/nav-left.png) no-repeat; background-position: 8px 14px; padding: 10px 0px 10px 20px; color: #ba0618; }
.page-content .left ul li.selected a { background: #f1cdd1 url(http://castlerockproperty.blob.core.windows.net/auslinkproperty/images/nav-left.png) no-repeat; background-position: 8px 14px; }

ul.table + ul.table { margin: 30px 0px 0px 0px; }
ul.table { margin: 0px 0px 10px 0px; }
ul.table li { width: 100%; overflow: hidden; border-bottom: 1px solid #bab9ba; padding: 5px 0px 5px 0px; }
ul.table li:first-child { border-top: 1px solid #bab9ba; }
            
ul.table li {  padding: 0px;  }
ul.table li div { float: left;  padding: 10px; text-align: center; }
ul.table li div:first-child {  text-align: left; }
ul.table li.table-header {  font-weight: bold; }
        
ul.two-column li p { float: left; width: 430px;  }
ul.two-column li p:first-child { width: 320px; font-weight: bold; }

ul.four-column li div { width: 120px; }
ul.four-column li div.wide { width: 310px; }

ul.five-column li div { width: 110px; }
ul.five-column li div.wide { width: 210px; }

ul.three-column li div { width: 120px; }
ul.three-column li div.wide { width: 450px; }

ul.list li { background: #ffffff url(http://castlerockproperty.blob.core.windows.net/auslinkproperty/images/nav-left.png) no-repeat; background-position: 0px 14px; padding: 8px 0px 5px 20px; }

#current-unit-holders ul.two-column li p { width: 160px;  }
#current-unit-holders ul.table li { width: 100%; overflow: hidden; border-bottom: 0px solid #000; padding: 0px 0px 0px 0px; margin: 0px; }
#current-unit-holders ul.table li p {  padding: 0px 0px 0px 0px; margin: 3px 0px 3px 0px; }
#current-unit-holders ul.table li p + p { width: 300px; }
#current-unit-holders ul.table li:first-child { border-top: 0px solid #bab9ba; }

/* Property Portfolio + Map */
.map { background: url(http://castlerockproperty.blob.core.windows.net/auslinkproperty/images/australia/map.png) no-repeat; width: 509px; height: 462px; margin: 50px 0px 100px 30px; }


ul.properties { float: right; line-height: 18px; }
ul.properties li { margin-bottom: 10px; }
ul.properties a { color: #000000; }

.square { width: 18px !important; margin-right: 5px !important; height: 18px; color: #ffffff !important; text-align: center; line-height: 18px; text-decoration: none; }
.square.blue { background: #0066cc;  }
.square.green { background: #29a329;  }
.square.orange { background: #ff6600;  }
.square.purple { background: #990099;  }
.square.red { background: #ea0000;  }
.square.light-blue { background: #2AD4FF;  }
.square.carnarvon { position: absolute; margin: 150px 0px 0px 0px;  }
.square.boronia { position: absolute; margin: 335px 0px 0px 335px;  }
.square.port-pirie { position: absolute; margin: 265px 0px 0px 285px;  }
.square.footscray { position: absolute; margin: 325px 0px 0px 355px;  }
.square.south-brisbane { position: absolute; margin: 210px 0px 0px 475px;  }
.square.townsville { position: absolute; margin: 35px 0px 0px 365px;  }

/* Login From */
#login { float: right; }
form { border: 1px solid #aaaaaa; min-height: 229px; width: 239px;}
form fieldset { display: block; padding: 20px;  }
form label { display: block; margin: 10px 0px 0px 0px; }
form input[type="text"] { display: block; background: #ebebeb; height: 20px; width: 90%; padding: 5px 5px 5px 5px; font-size: 16px; }
form input[type="password"] { display: block; background: #ebebeb; height: 20px; width: 90%; padding: 5px 5px 5px 5px; font-size: 16px; }
form input[type="submit"] { cursor: hand; cursor: pointer; display: block; margin: 10px 0px 0px 0px; background: #BA0618; color: #ffffff; width: 82px; height: 32px; border: 0px solid #000; }
form input[type="submit"]:hover { background: #7a0000; }
form a { display: block; margin: 20px 0px 0px 0px; color: #000; }
.form-top { width: 239px; height: 2px; }
.form-bottom { width: 239px; height: 26px; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

form input.input-validation-error
{
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
    font-size: 12px;
}

.validation-summary-valid
{
    display: none;
}
