@{
    ViewBag.Title = "Fund Summary - Auslink Property Trust";
    ViewBag.PageId = "financials-summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SelectedTab = "Financials";
}

@section LeftNavigation{

    <ul>
        <li>
            @Html.RouteLink("Returns", "Financials")
        </li>
        <li class="selected">
            @Html.RouteLink("Fund Summary", "Financials-Fund-Summary")
        </li>
    </ul>
}


<h2>Fund Summary</h2>

<p>
    A financial summary of the Trust is provided in the table below:
</p>

<ul class="table four-column">
    <li class="table-header">
        <div>Profit & Loss</div>
        <div>30 June 2011</div>
        <div>30 June 2012</div>
        <div>30 June 2013</div>
        <div>30 June 2014</div>
    </li>

    <li>
        <div>Total Revenue</div>
        <div>$1.16m</div>
        <div>$1.99m</div>
        <div>$3.46m</div>
        <div>$5.74m</div>
    </li>

    <li>
        <div>Total Expenses</div>
        <div>$0.34m</div>
        <div>$0.58m</div>
        <div>$1.38m</div>
        <div>$2.45m</div>
    </li>

    <li>
        <div>Profit</div>
        <div>$0.82m</div>
        <div>$1.41m</div>
        <div>$2.08m</div>
        <div>$3.29m</div>
    </li>

    <li>
        <div>Distributions</div>
        <div>$0.47m</div>
        <div>$0.87m</div>
        <div>$1.57m</div>
        <div>$2.77m</div>
    </li>

    <li>
        <div>Distributions (per unit)</div>
        <div>8.7 cents</div>
        <div>9.0 cents</div>
        <div>9.3 cents</div>
        <div>10.0 cents</div>
    </li>

    <li>
        <div>Tax advantaged component</div>
        <div>100%</div>
        <div>100%</div>
        <div>100%</div>
        <div>100%</div>
    </li>
</ul>

<ul class="table four-column">
    <li class="table-header">
        <div>Balance Sheet</div>
        <div>30 June 2011</div>
        <div>30 June 2012</div>
        <div>30 June 2013</div>
        <div>30 June 2014</div>
    </li>

    <li>
        <div>Total Assets</div>
        <div>$14.81m</div>
        <div>$25.56m</div>
        <div>$50.81m</div>
        <div>$56.97m</div>
    </li>
    <li>
        <div>Total Liabilities</div>
        <div>$7.05m</div>
        <div>$11.15m</div>
        <div>$24.94m</div>
        <div>$20.75m</div>
    </li>

    <li>
        <div>Net Assets</div>
        <div>$7.76m</div>
        <div>$14.41m</div>
        <div>$25.87m</div>
        <div>$36.22m</div>
    </li>

    <li>
        <div>Total Units on Issue</div>
        <div>7,049,017</div>
        <div>12,724,199</div>
        <div>22,451,463</div>
        <div>30,903,120</div>
    </li>

    <li>
        <div>Gearing</div>
        <div>46.3%</div>
        <div>39.3%</div>
        <div>47.1%</div>
        <div>33.8%</div>
    </li>
</ul>

 








 









