@model Portal.Web.Areas.FileManager.Models.StorageItemViewModel
@{
    ViewBag.Title = "File Manager";
}




<div class="file">
<a href="/File-Manager/File/Delete?path=@Model.Path" class="remove hidden" title="Remove Folder" alt="Remove Folder">Delete</a>
<a href="@Model.Url" style="text-align: center; display:block;">
    <img src="/Content/images/icons/@Model.FileExtension" /><br />@Model.Name
</a>  
</div>



