@model Portal.Web.Areas.FileManager.Models.FolderViewModel
@using Portal.Web.Extensions;
@{
    ViewBag.Title = "File Manager";
}

<div class="folder">
    @Html.RouteLink("Delete", "FileManager-Folder-Delete", Model.RouteValues, new { @class = "remove hidden", title = "Remove Folder", alt = "Remove Folder" })

    <a class="view-folder" href="@Url.RouteUrl("FileManager-View", Model.RouteValues)">
        <img height="30" src="/Content/images/icons/folder.png" />
        @Model.Name
    </a>
</div>
