@model Portal.Web.Areas.FileManager.Models.FolderViewModel
@using Portal.Web.Extensions;
@{
    ViewBag.Title = "File Manager";
}

<div class="folder">
    @Html.RouteLink("Delete", "FileManager-Folder-Delete", Model.RouteValues, new { @class = "remove hidden", title = "Remove Folder", alt = "Remove Folder" })

    @Html.RouteLink(Model.Name, "FileManager-View", Model.RouteValues, new { @class = "view-folder" })
</div>
