@model Portal.Web.Areas.FileManager.Models.FileManagerPageViewModel
@{
    ViewBag.Title = "File Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    

</style>

<div class="file-manager">

    <ul class="sub-navigation">
        <li class="uploading left ajax-loading">Uploading....</li>
        <li class="drop-file left">Drop file to upload</li>
        <li>
            <a href="/File-Manager/Folder/New" class="add-folder tooltip-toggle button white-arrow" data-tooltip="new-folder">Add folder</a>
        </li>
    </ul>

    <div style="float: right; width: 500px; overflow: hidden;">

        <div class="hidden tooltip add-folder-tooltip" data-tooltip="new-folder" data-focus="new-folder-textbox" id="myid">
    
            @using (Html.BeginRouteForm(Model.NewFolderRouteName, Model.CurrentStorageItemRouteValues, FormMethod.Post, new { }))
            {
                <fieldset>
                    <ol class="fields">
                        <li>
                            <label for="FolderName">Folder Name</label>
                            <input type="text" name="FolderName" id="FolderName" class="new-folder-textbox" />

                        </li>
                        <li>
                            <div class="left">
                                <button type="submit" class="right">Add Folder</button>
                            </div>
                        </li>
                    </ol>
                </fieldset>
            }
        </div>

    </div>

    <div class="content-padding">
            

        <ul class="files">
            <li class="back">
                <a href="@Url.RouteUrl("FileManager-View", Model.ParentFoldersRouteValues)" alt="back" title="back">
                    <img height="30" src="/Content/images/icons/folder-back.png" /> Back
                </a>
            </li>
    
            @{Html.RenderPartial("StorageItems", Model.StorageItems);}

        </ul>


    </div>

    

    <script type="text/javascript">
        $(document).ready(function () {

            $('.file-manager').fileUpload('@Model.CurrentPath');
        });
    </script>
</div>