@model Auslink.Web.Models.PageViewModel
@{
    ViewBag.Title = "Auslink Property Trust";
    ViewBag.PageId = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section RightNavigation {

    @Html.Partial("Login", Model.Login)

}

<p>
    The Auslink Property Trust is an unlisted property trust designed to provide investors with stable long-term income from a 
    portfolio of government-leased assets. 
</p>

<p>
    The Trust primarily develops and holds Centrelink Customer Service Centres. We believe that the Commonwealth Government has a long-term 
    requirement for these centres, and if they are purpose-built and well managed, the government will continue to occupy them for the long term. 
</p>

<p>
    Established in December 2008, the Trust currently owns seven Centrelink Customer Service Centres in Boronia VIC, Carnarvon WA,
    Port Pirie SA, Footscray VIC, ALbury NSW, Townsville QLD, and South Brisbane QLD, and is developing an eigth Centrelink in Bown QLD.
</p>
